
           
    
<div class="col">
    
</div>

<div class="col" id="about-cont">
    <div class="col hidden" id="me">
        <img id="profpic" src="/img/me.png" height="200px;">
        
    </div>
    <div class="col hidden about" id="me">
        <h6><p>Name: {{name}}</p></h6>
        <h6><p>ID No.: {{id}}</p></h6>
        <h6><p>Degree Program: {{deg}}</p></h6>
        <h6><p>Bio: {{bio}}</p></h6>
        
    </div>
</div>

<div class="col">

</div>